// css components
.global-text {
    letter-spacing: 0.5px;
    @include text(12px, 'e', 30px, $bg-black, null);
}

.local-text .title-global {
    letter-spacing: 0.5px;
    @include text(12px, 'e', 30px, $bg-black, null);
}

.title-local {
    @include text(12px, 'eb', null, $bg-black, uppercase);
}

.product {
    h3 {
        padding-bottom: 30px;
    }
}

.img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    img {
        width: 100%;
        height: 100%;
    }
}

.banner-product {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .content {
        width: 40%;
        text-align: right;
        position: absolute;
        top: 40%;
        left: 40%;
        @include text(24px, 'el', 40px, $text-color-white, uppercase);
    }
    @include md {
        .content {
            top: 30%;
            @include text(16px, 'el', 40px, $text-color-white, uppercase);
        }
    }
    @include xs {
        .content {
            top: 10%;
            left: 20%;
            width: 70%;
            text-align: center;
            @include text(12px, 'el', null, $text-color-white, uppercase);
        }
    }
    @include xxs {
        .content {
            top: 10%;
            left: 20%;
            width: 70%;
            text-align: center;
            @include text(12px, 'el', null, $text-color-white, uppercase);
        }
    }
}

.global-text-pro {
    display: flex;
    .number {
        padding-right: 20px;
        margin-bottom: -8px;
        span {
            @include flex(flex, flex-end, flex-end);
            @include text(90px, 'el', null, $text-color-yellow, null);
        }
    }
    .content {
        padding-top: 15px;
        h3 {
            @include text(18px, 'el', null, $text-color-black, uppercase);
        }
        p {
            padding-top: 20px;
            @include text(12px, 'a', 15px, $text-color-black, null);
        }
    }
}

.page {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    &-number {
        text-align: center;
        a {
            padding: 10px 15px;
            color: $text-color-black;
            &.active {
                border: 1px solid $bg-black;
                background-color: $bg-gray;
            }
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}

// all item
.all-item {
    width: 100%;
    height: 100%;
    .all-item-text {
        width: 100%;
        .row {
            width: 100%;
            .text-left {
                @include flex(flex, flex-end, flex-end);
                height: 100%;
                width: 100%;
            }
            .text-right {
                height: 100%;
                padding-left: 80%;
                .btn-pro {
                    width: 100%;
                    height: 100%;
                    @include text(12px, 'ab', null, $text-color-black, uppercase);
                    @include flex(flex, flex-end, flex-end);
                    img {
                        padding-right: 10px;
                    }
                    &:hover {
                        color: $text-color-yellow;
                    }
                }
            }
        }
    }
    .all-item-img {
        position: relative;
        .row {
            &:first-child {
                padding: 0 0 80px 0;
            }
            position: relative;
            &::after {
                display: none;
            }
            .col {
                &:nth-child(1) {
                    &::after {
                        display: none;
                    }
                }
                &::after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background-color: $bg-gray;
                }
                .text {
                    width: 100%;
                    height: 20%;
                    margin-top: -25px;
                    h4 {
                        @include text(18px, 'a', null, $text-color-black, null);
                    }
                    p {
                        padding-top: 30px;
                        @include text(12px, 'a', null, $text-color-black, null);
                    }
                }
                .detail-products {
                    a {
                        @include text(12px, 'ab', null, $text-color-black, uppercase);
                        img {
                            padding-right: 10px;
                        }
                        &:hover {
                            color: $text-color-yellow;
                        }
                    }
                }
            }
        }
    }
    @include lg {
        .all-item-text {
            display: flex;
        }
    }
    @include md {
        .all-item-text {
            display: flex;
        }
    }
    @include sm {
        .all-item-text {
            display: flex;
            .text-right {
                padding-left: 0 !important;
            }
        }
    }
    @include xs {
        .all-item-text {
            display: block;
            .text-right {
                padding-top: 20px;
                padding-left: 0 !important;
            }
        }
        .all-item-img {
            .row {
                .col {
                    padding-bottom: 50px;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    @include xxs {
        .all-item-text {
            display: block;
        }
        .all-item-img {
            .row {
                .col {
                    padding-bottom: 50px;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}