.project {
    padding: 100px 0;
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    h3 {
        @include text(12px, 'el', null, $text-color-black, uppercase);
    }
    p {
        @include text(12px, 'a', 20px, $text-color-black, null);
    }
    &__intro {
        width: 100%;
        height: 100%;
        position: relative;
        &-text {
            width: 100%;
            height: 100%;
            .title {
                font-size: 26px;
                padding-bottom: 30px;
            }
        }
        &-selected {
            height: 100%;
            @include flex(flex, flex-end, flex-end);
            flex-direction: column;
            a {
                @include text(11px, 'ab', null, $text-color-white, uppercase);
            }
            .cover {
                .select-current {
                    cursor: pointer;
                    width: 200px;
                    height: 40px;
                    background-color: $bg-black;
                    @include flex(flex, center, flex-start);
                    padding-left: 20px;
                    img {
                        padding-left: 50px;
                    }
                }
                .select-options {
                    display: none;
                    @include transition(2s);
                }
                &:hover {
                    .select-options {
                        @include transition(2s);
                        z-index: 99999;
                        @include flex(flex, flex-start, center);
                        flex-direction: column;
                        position: absolute;
                        width: 200px;
                        top: 95px;
                        background-color: $hover-yellow;
                        a {
                            width: 100%;
                            padding: 15px 0 15px 20px;
                            border: 1px solid $bg-gray;
                            @include transition($t);
                            &:hover {
                                @include transition($t);
                                background-color: $bg-black;
                            }
                        }
                    }
                }
            }
        }
    }
    &__prod {
        padding-top: 100px;
        .row {
            width: 100%;
            height: 100%;
            position: relative;
            .col {
                width: 100%;
                position: relative;
                .categories {
                    width: 100%;
                    &:first-child {
                        padding-top: 0;
                    }
                    padding-top: 50px;
                    &-text {
                        width: 100%;
                        height: 20%;
                        padding-top: 25px;
                        h4 {
                            @include text(12px, 'ab', null, $text-color-black, uppercase);
                        }
                        p {
                            padding-top: 30px;
                            @include text(12px, 'a', 20px, $text-color-black, null);
                        }
                    }
                    &-btn {
                        padding-top: 20px;
                        a {
                            @include text(12px, 'ab', null, $text-color-black, uppercase);
                            img {
                                padding-right: 10px;
                            }
                            &:hover {
                                color: $text-color-yellow;
                            }
                        }
                    }
                }
                &::after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: $bg-gray;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:nth-child(1) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    @include sm {
        &__intro {
            &-selected {
                .cover {
                    &:hover {
                        .select-options {
                            position: absolute;
                            top: 115px;
                        }
                    }
                }
            }
        }
    }
    @include xs {
        .title {
            text-align: center;
        }
        p {
            text-align: center;
        }
        &__intro {
            &-selected {
                .cover {
                    margin: 0 auto;
                    &:hover {
                        .select-options {
                            position: absolute;
                            top: 60px;
                        }
                    }
                }
            }
        }
        &__prod {
            .row {
                .col {
                    &::after {
                        display: none;
                    }
                    .categories {
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
    @include xs {
        .title {
            text-align: center;
        }
        p {
            text-align: center;
        }
        &__intro {
            &-selected {
                padding-top: 20px;
                .cover {
                    &:hover {
                        .select-options {
                            position: absolute;
                            top: 60px;
                        }
                    }
                }
            }
        }
        &__prod {
            .row {
                .col {
                    &::after {
                        display: none;
                    }
                    .categories {
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
}