.service {
    padding: 100px 0;
    .title {
        @include text(26px, 'el', null, $text-color-black, uppercase);
    }
    p,
    span {
        @include text(12px, 'a', 20px, $text-color-black, null);
    }
    &__intro {
        padding-bottom: 45px;
        width: 100%;
        height: 100%;
        h3 {
            font-size: 32px !important;
            text-align: center;
            padding-bottom: 35px;
        }
    }
    &__advisory {
        width: 100%;
        height: 100%;
        position: relative;
        &-text {
            h3 {
                padding-bottom: 30px;
            }
            .text {
                padding-bottom: 50px;
            }
        }
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: $bg-black;
            bottom: -50px;
        }
        .btn-service {
            width: 100%;
            a {
                margin: 0 -10px;
            }
            @include md {
                a {
                    margin: 5px 0;
                }
            }
            @include xs {
                a {
                    margin: 5px 0;
                }
            }
            @include xxs {
                a {
                    margin: 5px 0;
                }
            }
        }
    }
    &__process {
        width: 100%;
        height: 100%;
        padding-top: 100px;
        &-text {
            h3 {
                text-align: center;
            }
            .text {
                padding: 0 25%;
                text-align: center;
                padding-top: 30px;
                padding-bottom: 60px;
            }
        }
    }
}